<% include templates/header.ejs %>
<body>

<div class="container" style="background-color: #eee">
    <% include templates/body.ejs %>
    <div class="row content">
        <% include templates/navbar.ejs %>
        <div class="col-sm-9">
            <h3>Πελάτες</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Επωνυμία</th>
                    <th>ΑΦΜ</th>
                    <th>Αποστολή Εφκα</th>
                </tr>
                </thead>
                <tbody id="customersTableId">

                </tbody>
            </table>
        </div>
    </div>
</div>

<% include templates/footer.ejs %>

<script>
    var parent=document.getElementById('customersTableId');
    var trElem;
    var td1,td2,td3;

    <% customers.forEach(function(customers){%>
        <%if(customers.efkaConfirm===true){%>
            trElem=document.createElement('tr');
            td1=document.createElement('td');
            td1.innerHTML='<%=customers.name%>';
            td2=document.createElement('td');
            td2.innerHTML='<%=customers.vatId%>';
            td3=document.createElement('td');
            td3.innerHTML='<button type="button" class="btn btn-primary" onclick="window.location.href=\'/users/sendEfka/<%=customers._id%>\'">Send</button>';
            trElem.appendChild(td1);
            trElem.appendChild(td2);
            trElem.appendChild(td3);
            parent.appendChild(trElem);
        <%}%>
    <%})%>


</script>
</body>
</html>