<% include templates/header.ejs %>
<body>

<div class="container" style="background-color: #eee">
    <% include templates/body.ejs %>
    <h2 class="text-muted" style="color: black"> <span class="glyphicon glyphicon-thumbs-up"></span> Καλώς Ήρθατε στην ιστοσελίδα μας</h2>

    <div class="row text-center" style="background-color: #ccc410">
        <div class="col-sm-6 col-sm-offset-3" style="padding-bottom: 20px">
            <h3 style="color:black">Κάνε εγγραφή στην εφαρμογή Σήμερα!</h3>
            <p class="text-muted">Ταχύτητα, Οικονομία, Ευελιξία</p>
            <br>
            <button type="button" class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-user"></span> Εγγραφή</button>
            <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-log-in"></span> Είσοδος</button>
        </div>
    </div>


</div>

<% include templates/footer.ejs %>
</body>

</html>