<% include templates/header.ejs %>
<body>

<div class="container" style="background-color: #eee">
    <% include templates/body.ejs %>
    <div class="row content">
        <% include templates/navbar.ejs %>
        <div class="col-sm-9">
            <h3 id="h3Label">Έκδοση Τιμολογίου</h3>
            <form id="formId" method="post" action="/users/invoice">
                <div class="form-group">
                    <label for="sel1">Επιλογή Πελάτη:</label>
                    <select class="form-control" id="sel1">
                        <%for(var i=0;i<customers.length;i++){%>
                            <option><%=customers[i].name%></option>
                        <%}%>
                    </select>
                </div>
                <div class="form-group">
                    <label for="vatId">Ημερομηνία Τιμολογίου:</label>
                    <input type="text" class="form-control" name="vatId" value="<%=typeof customers!=='undefined'?customers.vatId:null%>">
                </div>
                <div class="form-group">
                    <label for="taxOffice">Αξία Τιμολογίου Χωρίς Φ.Π.Α:</label>
                    <input type="text" class="form-control" name="taxOffice" value="<%=typeof customers!=='undefined'?customers.taxOffice:null%>">
                </div>
                <div class="form-group">
                    <label for="phone">Περιγραφή:</label>
                    <input type="text" class="form-control" name="phone" value="<%=typeof customers!=='undefined'?customers.phone:null%>">
                </div>
                <button id="btnSubmit" type="submit" class="btn btn-success">Έκδοση</button>
            </form>
        </div>
    </div>
</div>

<% include templates/footer.ejs %>
</body>

</html>